@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Shippori+Antique&display=swap');


* {
    padding: 0;
    margin: 0;
     font-family: 'Quicksand',sans-serif;
}
body {
    background-image: url("/img/bg.jpg");
    font-family: "Shippori Antique", sans-serif;
    overflow-x: hidden;
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #32cd32;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.struktur {
    padding: 3%;
}

.struktur h3 {
    text-align: center;
    padding: 1%;
}

.logo {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.garis {
    color: #32cd32;
    border-width: 2px;
    border-style: solid;
}

.jumbotron {
    margin-top: 90px;
    padding: 2rem 1rem;
    text-align: center;
}

.jumbotron img {
    padding: auto;
    transform: inherit;
}

.member :hover {
    cursor: pointer;
    transform: scale(1.1);
}
.col-md-6 {
    text-align: left;
}

.team {
    margin-top: -30px;
}

.col-sm-12 {
    text-align: center;
    color: #f5f5f5;
    background: rgba(6, 12, 34, 0.76);
}

#speakers {
    padding: 60px 0 30px 0;
    margin-top: -30px;
}

#speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

#speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

#speakers .speaker .details .social {
    height: 30px;
}

#speakers .speaker .details a {
    color: #fff;
}

#speakers .speaker .details a:hover {
    color: #32cd32;
}

#speakers .speaker:hover .details {
    bottom: 0;
}

#speakers-details {
    padding: 60px 0;
}

#speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

#speakers-details .details .social {
    margin-bottom: 15px;
}

#speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
}

#speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
}

#speakers-details .details .social a i {
    font-size: 18px;
}

#speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
}

.banner {
    margin-top: -100px;
    text-align: center;
}

.judul{

    font-family: 'Shippori Antique', sans-serif;
    border-width: 3px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
}   
